.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.title {
    color: #5e5e79;
    padding: 0;
    font-size: 70px;
    font-family: serif;
    margin: 20%;
    margin-left: 0px;
    text-shadow: 3px 2px 2px;
}

